/* BASE */

@font-face {
    font-family: cM;
    src: url(../font/CommitMono-400-Regular.otf);
  }

@font-face {
font-family: cMI;
src: url(../font/CommitMono-400-Italic.otf);
}

@font-face {
    font-family: cMB;
    src: url(../font/CommitMono-700-Regular.otf);
}

@font-face {
    font-family: cMBI;
    src: url(../font/CommitMono-700-Italic.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cM, monospace;
    font-weight: normal;
    font-style: normal;
    background-color: #313131;
}

em {
    font-family: cMI, monospace;
    font-weight: normal;
    font-style: normal;
}

strong {
    font-family: cMB, monospace;
    font-weight: normal;
    font-style: normal;
}

em strong {
    font-family: cMBI, monospace;
    font-weight: normal;
    font-style: normal;
}

.html {
    scroll-behavior: smooth;
}

h1, h2, h3, p, ul, ol, i, blockquote, .pullquote {
    color: whitesmoke;
}
    
h1 {
    font-size: 22px;
    font-family: cMB, monospace;
    font-weight: normal;
    font-style: normal;
}
    
h2 {
    font-size: 18px;
    font-family: cMB, monospace;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: cMB, monospace;
    font-weight: normal;
    font-style: normal;
}
    
p {
    font-size: 14px;
    padding: 5px 0 15px 0;

}
    
ul, ol {
    font-size: 13px;
    list-style: outside square;
}

a:link {
    color: #e05b5b;
    text-decoration: none;
}

a:hover {
    color: #e05b5b;
    text-decoration: underline;
    transition: 0.5s;
}

a:active {
    color: #e05b5b;
    text-decoration: underline;
    transition: 0.5s;
}

a:visited {
    color: #e05b5b;
}

.sidenote a:link {
    color: whitesmoke;
    text-decoration: underline;
    background: transparent;
}

.sidenote a:hover {
    color:  whitesmoke;
    text-decoration: underline;
}

.sidenote a:active {
    color: whitesmoke;
    text-decoration: underline;
}

.sidenote a:visited {
    color: whitesmoke;
    text-decoration: underline;
}

blockquote {
    border-left: 5px solid #5be0e0;
    font-size: 14px;
    margin: 30px 0;
    padding: 5px 15px;
}

.pullquote {
    font-size: 18px;
    border-left: 5px solid #e05b5b;
    font-family: cMBI, monospace;
    font-weight: normal;
    font-style: normal;
    margin: 30px 0px;
    padding: 5px 15px;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: #5be0e0;
}
  
::selection {
    color: black;
    background: #5be0e0;
}

.content ul {
    list-style: outside square;
    padding: 5px 15px 15px 20px;
}

.content ul li {
    padding: 5px 0;
}

.home h1 {
    padding: 0px 0px 50px 0px;
}

.home h2 {
    padding: 0px 0px 30px 0px;
}

.nav-logo img {
    height: 30px;
    border: 2px solid whitesmoke;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    font-size: 14px;
    padding: 0 25px 0 0;
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes blink {
    from {color: #313131;}
    to {color: whitesmoke;}
}

.octopus {
    color: whitesmoke;
    background-color: #e05b5b;
}

.toc li {
    padding: 0 0 5px 0;
}

.content {
    padding: 15px 0;
}

.text {
    padding: 15px 0;
}

.content h1 {
    padding: 5px 0 15px 0;
}

.data {
    padding: 5px 0 30px 0;;
}

.content h2 {
    padding: 15px 0;
}

.content h3 {
    padding: 5px 0 15px 0;
}

.content p {
    line-height: 2;
}

.home-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0%;
    background-color: black;
    height: fit-content;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0%;
    background-color: black;
    height: fit-content;
}

.footer p {
    padding: 10px 0;
}

/* SIDENOTE */

body {
    counter-reset: sidenote-counter;
}

.sidenote__checkbox {
    display: none;
} 

.sidenote-number {
    counter-increment: sidenote-counter;
}

/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter) ". ";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-family: cMB, monospace;
    z-index: 0;
}

/* Counter in the main body. */
.sidenote-number::after {
    content: " " counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-family: cMB, monospace;
}

.sidenote {
    color: whitesmoke;
    font-size: 12px;
}

/* Hidden semantic content */
.semantic {
    position: absolute;
    left: -99999px;
    top: auto;
}

/* PROGRESS */

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 5px;
    background: transparent;
  }
  
/* The progress bar (scroll indicator) */
.progress-bar {
    height: 5px;
    background: #e05b5b;
    width: 0%;
}

meter { 
    height: 5px;
    background: transparent;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: whitesmoke;
    font-size: 5px;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@-webkit-keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}
  
@-moz-keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes arrowappear {
    from { bottom: -100px; }
    to { bottom: 0; }
}

.alt-bar {
    background-color: black;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    animation-name: arrowappear;
    animation-duration: 0.5s;
    z-index: 1;
    height: fit-content;
}

.arrow {
    display: none;
    padding: 0;
}   

.arrow img {
    height: 30px;
}

.choice-button button {
    margin: 5px 15px 5px 0px;
    background-color: whitesmoke;
    cursor: pointer;
    width: 100%;
    box-shadow: 2.5px 2.5px #444444;
}

.choice-button button p {
    color: #313131;
    padding: 5px;
    font-family: cM, monospace;
    font-weight: normal;
    font-style: normal;
}

button {
    background-color: inherit;
    border: 2px solid #e05b5b;
    padding: 5px 15px;
    margin: 0 10px 10px 0;
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
    font-family: cM, monospace;
    color: #e05b5b;
    transition: 0.5s;
}

button:hover {
    background-color: #e05b5b;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    transition: 0.5s;
}

a.btn {
    background-color: transparent;
    color: #f1f1f1;
}

a.btn:visited {
    background-color: transparent;
    color: #f1f1f1;
}

.half-wide {
    padding: 20px 0 0 0;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.row-one {
    display: flex;
    flex-direction: row;
    width:220px;
}

.row-two {
    display: flex;
    flex-direction: row;
    width:220px;   
}

img {
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
}

@media screen and (min-width:1650px) {

    .page {
        margin: auto;
        width: 50%;
        max-width: 600px;
    }

    .home-bar {
        display: flex;
        flex-direction: row;
        padding: 100px 0 0 0;
    }

    .home-logo {
        padding: 0 50px 0 0;   
    }

    .home-logo img {
        border: 3px solid whitesmoke;
        height: 45px;
    }

    .home-text h1 {
        font-size: 40px;
    }
    
    .home {
        padding: 100px 0px 0px 0px;
    }

    .nav-bar {
        display: flex;
        padding: 100px 0 10px 0;
    }

    .title-text {
        padding: 2.5px 0 0 68px;
    }

    .open-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .nav-links {
        width: 100%;
        padding: 15px 0 100px 0;
    }

    .mobile-only {
        display: none;
    }

    .nav-links ul li {
        display: inline-block;
    }

    .menu-on {
        color: #e05b5b;
        transition: 0.5s;
    }

    .nav-links ul li a:link {
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid #e05b5b;
        transition: 0.5s;
     }

    .nav-links ul li a:hover {
        background-color: #e05b5b;
        color: whitesmoke;
        text-decoration: none;
        transition: 0.5s;
        padding: 5px 10px;
        border: 2px solid whitesmoke;
    }

    .nav-links ul li a:active {
        background-color: #e05b5b;
        color: whitesmoke;
        text-decoration: none;
        padding: 5px 10px;
    }

    .nav-links ul li a:visited {
        text-decoration: none;
        padding: 5px 10px;
    }

    .active {
        color: whitesmoke;    
    }

    .footer p {
        color: whitesmoke;
        background-color: transparent;
        margin: auto;
        width: 50%;
        font-size: 13px;
        max-width: 600px;
    }
    
    .toc {
        font-size: 13px;
        left: 10%;
        width: 15vw;
        max-width: 250px;
        position: fixed;
        top:30%;
        cursor: pointer;
    }

    .essay {
        display: flex;
        flex-direction: column;
    }
    
    .sidenote__button {
        cursor: pointer;
        color: #5be0e0;
    }

    .sidenote__button:hover {
        cursor: pointer;
        color: #5be0e0;
        text-decoration: underline;
    }

    .sidenote__checkbox:checked ~ .sidenote-number .sidenote {
        display: block;
        position: relative;
        width: 15vw;
        max-width: 250px;
        border-left: 5px solid #e05b5b;

        float: right;
        clear: right;
        margin-right: -24.5vw;
        text-align: left;
        padding: 10px 15px;
    
        top: -1rem;
        width: 15vw;
        margin-top: 1rem;
    }

    .sidenote {
        display: none;
        position: relative;
        width: 15vw;
        max-width: 250px;
        border-left: 5px solid #e05b5b;

        float: right;
        clear: right;
        margin-right: -24.5vw;
        text-align: left;
        padding: 10px 15px;
    
        top: -1rem;
        width: 15vw;
        margin-top: 1rem;
        color: whitesmoke;
        font-size: 12px;
    }

    /* Highlight the sidenote when mouse hovers on the label. */
    .label:hover .sidenote,
    .label:hover .sidenote__button::after {
        display: block;
        color: whitesmoke;
        background-color: #e05b5b;
        transition: 1s;
    } 

    .general {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        padding-left: 10%;
        padding-right: 10%;
        vertical-align: middle;
    }
    
    .general h1 {
        font-size: 15px;
        padding-top: 5px;
    }
    
}

@media screen and (min-width:1090px) and (max-width:1649px) {

    .page {
        margin: auto;
        width: 50%;
        max-width: 600px;
    }

    .home-bar {
        display: flex;
        flex-direction: row;
        padding: 100px 0 0 0;
    }

    .home-logo {
        padding: 0 50px 0 0;   
    }

    .home-logo img {
        border: 3px solid whitesmoke;
        height: 45px;
    }

    .home-text h1 {
        font-size: 40px;
    }
    
    .home {
        padding: 100px 0px 0px 0px;
    }

    .nav-bar {
        display: flex;
        padding: 100px 0 10px 0;
    }

    .title-text {
        padding: 2.5px 0 0 68px;
    }

    .open-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .nav-links {
        width: 100%;
        padding: 15px 0 100px 0;
    }

    .nav-links ul li {
        display: inline-block;
    }

    .mobile-only {
        display: none;
    }

    .menu-on {
        color: #e05b5b;
        transition: 0.5s;
    }

    .nav-links ul li a:link {
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid #e05b5b;
        transition: 0.5s;
     }

    .nav-links ul li a:hover {
        background-color: #e05b5b;
        color: whitesmoke;
        text-decoration: none;
        transition: 0.5s;
        padding: 5px 10px;
        border: 2px solid whitesmoke;
    }

    .nav-links ul li a:active {
        background-color: #e05b5b;
        color: whitesmoke;
        text-decoration: none;
        padding: 5px 10px;
    }

    .nav-links ul li a:visited {
        text-decoration: none;
        padding: 5px 10px;
    }

    .active {
        color: whitesmoke;    
    }

    .footer p {
        color: whitesmoke;
        background-color: transparent;
        margin: auto;
        width: 50%;
        font-size: 13px;
        max-width: 600px;
    }
    
    .toc {
        font-size: 13px;
        left: 10%;
        width: 15vw;
        max-width: 250px;
        position: fixed;
        top:30%;
        cursor: pointer;
    }

    .essay {
        display: flex;
        flex-direction: column;
    }
    
    .sidenote__button {
        cursor: pointer;
        color: #5be0e0;
    }

    .sidenote__button:hover {
        cursor: pointer;
        color: #5be0e0;
        text-decoration: underline;
    }

    .sidenote__checkbox:checked ~ .sidenote-number .sidenote {
        display: block;
        position: relative;
        width: 15vw;
        max-width: 250px;
        border-left: 5px solid #e05b5b;

        float: right;
        clear: right;
        margin-right: -24.5vw;
        text-align: left;
        padding: 10px 15px;
    
        top: -1rem;
        width: 15vw;
        margin-top: 1rem;
    }

    .sidenote {
        display: none;
        position: relative;
        width: 15vw;
        max-width: 250px;
        border-left: 5px solid #e05b5b;

        float: right;
        clear: right;
        margin-right: -24.5vw;
        text-align: left;
        padding: 10px 15px;
    
        top: -1rem;
        width: 15vw;
        margin-top: 1rem;
        color: whitesmoke;
        font-size: 12px;
    }

    /* Highlight the sidenote when mouse hovers on the label. */
    .label:hover .sidenote,
    .label:hover .sidenote__button::after {
        display: block;
        color: whitesmoke;
        background-color: #e05b5b;
        transition: 1s;
    } 

    .general {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        padding-left: 10%;
        padding-right: 10%;
        vertical-align: middle;
    }
    
    .general h1 {
        font-size: 15px;
        padding-top: 5px;
    }
    
}

@media screen and (min-width:550px) and (max-width:1089px) {

    .page {
        width: 75%;
        margin: 50px;
    }

    .home-bar {
        display: flex;
        flex-direction: row;
        padding: 100px 0 0 0;
    }

    .home-logo {
        padding: 0 30px 0 0;   
    }

    .home-logo img {
        border: 2px solid whitesmoke;
        height: 30px;
    }

    .home-text h1 {
        font-size: 26px;
        padding: 1px 0 0
    }
    
    .home {
        padding: 100px 0px 0px 0px;
    }

    .footer p {
        color: whitesmoke;
        background-color: transparent;
        margin: 0 50px;
        width: 75%;
        font-size: 12px;
        padding: 5px 0;
    }

    .nav-bar {
        display: flex;
        margin: 60px 0;
    }

    .nav-logo img {
        height: 30px;
    }

    .title-text {
        margin: 2.5px 0 0 30px;
    }

    .nav-bar .open-menu {
        position: absolute;
        right: 75px;
        top: 62.5px;
        cursor: pointer;
        font-size: 14px;
        font-family: cMI, monospace;
    }
    
    .nav-links {
        margin: 0px 0px 0px 0px;
        height: 100%;
        width: 100%;
        background-color: black;
        top: 0;
        right: -100%;
        position: fixed;
        padding-right: 75px;
        padding-top: 62.5px;
        text-align: right;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links i {
        background-color: black;
        color: whitesmoke;
        cursor: pointer;
        font-size: 14px;
        font-family: cM, monospace;
    }
    
    .nav-links ul {
        padding: 30px 0px 0px 0px;
        background-color: transparent;
    }
    
    .nav-links ul li {
        color: whitesmoke;
        background-color: transparent;
        font-size: 15px;
        padding: 5px 0;
        margin: 0px 0px 0px 0px;
        }
    
    .nav-links ul a:link {
        color: whitesmoke;
        text-decoration: none;
        background-color: transparent;
    }
    
    .nav-links ul a:hover {
        color: whitesmoke;
        text-decoration: none;
    }
    
    .nav-links ul a:active {
        color: whitesmoke;
        text-decoration: none;
    }
    
    .nav-links ul a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    p.mobile-only {
        font-size: 15px;
        margin: 15px 0;
    }

    p.mobile-only a:link {
        color: whitesmoke;
        text-decoration: none;
    }

    p.mobile-only a:hover {
        color: whitesmoke;
        text-decoration: none;
    }

    p.mobile-only a:active {
        color: whitesmoke;
        text-decoration: none;
    }
    
    p.mobile-only a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    .active {
        color: #e05b5b;
    }
        
    .toc {
        font-size: 13px;
    }

    .toc ul li {
        font-size: 13px;
        cursor: pointer;
    }

    .essay {
        display: flex;
        flex-direction: column;
    }
        
    .sidenote__button {
        cursor: pointer;
        color: #5be0e0;
    }

    .sidenote__checkbox ~ .sidenote-number .sidenote {
        position: absolute;
        left: -99999px;
        top: auto;
    }

    /* HIDE ONE OF THE SIDENOTE NUMBERS ON CLICK */
    .sidenote__checkbox:checked ~ .sidenote-number::after {
        position: absolute;
        left: -99999px;
        top: auto;
    }

    .sidenote__checkbox:checked ~ .sidenote-number .sidenote {
        position: initial;
        left: auto;
        
        /* float: left; */

        width: fit-content;
        /* margin-top: 1rem; */
        margin: 0px 5px;
        padding: 0 2px;
        
        text-align: left;

        /* VISUALLY SEPARATE SIDENOTE INLINE */
        color: #5be0e0;
        border: 2px solid #5be0e0
    }

    .sidenote__checkbox ~ .sidenote__button {
        color: #5be0e0;
    }

    /* SHOW THAT SIDENOTE IS EXPANDED */
    .sidenote__checkbox:checked ~ .sidenote__button {
        background-color:#5be0e0;
        padding: 2px;
        color: #313131;
    }

    .sidenote {
        color: whitesmoke;
        font-size: 14px;
    }

    .general {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 30px;
    }
    
    .general h1 {
        font-size: 13px;
        padding: 0 30px;
    }

}

@media screen and (max-width:549px) {

    .page {
        width: 90%;
        margin: 15px;
    }

    .home-bar {
        display: flex;
        flex-direction: row;
        padding: 50px 0 20px 0;
    }

    .home-logo {
        padding: 0 30px 0 0;   
    }

    .home-logo img {
        border: 2px solid whitesmoke;
        height: 30px;
    }

    .home-text h1 {
        font-size: 26px;
        padding: 1px 0 0 0;
    }
    
    .home {
        padding: 50px 0px 0px 0px;
    }

    .footer p {
        color: whitesmoke;
        background-color: transparent;
        margin: 0 15px;
        width: 90%;
        font-size: 12px;
        padding: 5px 0;
    }

    .nav-bar {
        display: flex;
        margin: 30px 0 50px 0;
    }

    .nav-logo img {
        height: 30px;
    }

    .title-text {
        margin: 2.5px 0 0 30px;
    }

    .nav-bar .open-menu {
        position: absolute;
        right: 35px;
        top: 32.5px;
        cursor: pointer;
        font-size: 14px;
        font-family: cMI, monospace;
    }
    
    .nav-links {
        margin: 0px 0px 0px 0px;
        height: 100%;
        width: 100%;
        background-color: black;
        top: 0;
        right: -100%;
        position: fixed;
        padding-right: 50px;
        padding-top: 32.5px;
        text-align: right;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links i {
        background-color: black;
        color: whitesmoke;
        cursor: pointer;
        font-size: 14px;
        font-family: cMI, monospace;
    }
    
    .nav-links ul {
        padding: 30px 0px 0px 0px;
        background-color: transparent;
    }
    
    .nav-links ul li {
        color: whitesmoke;
        background-color: transparent;
        font-size: 15px;
        padding: 5px 0;
        margin: 0px 0px 0px 0px;
        }
    
    .nav-links ul a:link {
        color: whitesmoke;
        text-decoration: none;
        background-color: transparent;
    }
    
    .nav-links ul a:hover {
        color: whitesmoke;
        text-decoration: none;
    }
    
    .nav-links ul a:active {
        color: whitesmoke;
        text-decoration: none;
    }
    
    .nav-links ul a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    p.mobile-only {
        font-size: 15px;
        margin: 15px 0;
    }

    p.mobile-only a:link {
        color: whitesmoke;
        text-decoration: none;
    }

    p.mobile-only a:hover {
        color: whitesmoke;
        text-decoration: none;
    }

    p.mobile-only a:active {
        color: whitesmoke;
        text-decoration: none;
    }
    
    p.mobile-only a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    .active {
        color: #e05b5b;
    }
        
    .toc {
        font-size: 13px;
    }

    .toc ul li {
        font-size: 13px;
        cursor: pointer;
    }

    .essay {
        display: flex;
        flex-direction: column;
    }
        
    .sidenote__button {
        cursor: pointer;
        color: #5be0e0;
    }

    .sidenote__checkbox ~ .sidenote-number .sidenote {
        position: absolute;
        left: -99999px;
        top: auto;
    }

    /* HIDE ONE OF THE SIDENOTE NUMBERS ON CLICK */
    .sidenote__checkbox:checked ~ .sidenote-number::after {
        position: absolute;
        left: -99999px;
        top: auto;
    }

    .sidenote__checkbox:checked ~ .sidenote-number .sidenote {
        position: initial;
        left: auto;
        
        /* float: left; */

        width: fit-content;
        /* margin-top: 1rem; */
        margin: 0px 5px;
        padding: 0 2px;
        
        text-align: left;

        /* VISUALLY SEPARATE SIDENOTE INLINE */
        color: #5be0e0;
        border: 2px solid #5be0e0
    }

    .sidenote__checkbox ~ .sidenote__button {
        color: #5be0e0;
    }

    /* SHOW THAT SIDENOTE IS EXPANDED */
    .sidenote__checkbox:checked ~ .sidenote__button {
        background-color:#5be0e0;
        padding: 2px;
        color: #313131;
    }

    .sidenote {
        color: whitesmoke;
        font-size: 14px;
    }

    .general {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .general h1 {
        font-size: 13px;
        padding: 0 15px;
        font-family: cM, monospace;
        vertical-align: middle;

    }

}